* {
    border: none;
    border-radius: 0;
    font-family:   "JetBrainsMono Nerd Font Propo";
    font-size:     15px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    color:      rgba(217, 216, 216, 1);
    background-color: alpha(#121212, 0.6); 
}

#workspaces button {
    margin: 0px 0px 0px 2px;
    color: white;
    padding: 0px 5px 0px 5px;
    border: 1px solid #434343;
    border-radius: 7px;
    transition: all 450ms ease-in-out;
}

#workspaces button.active {
    background: white;
    color: black;
    min-width: 30px;
}

#custom-weather {
    margin-right: 15px;
}

#language {
    margin-bottom: 5px; 
}

#pulseaudio, #network {
    /*border: 1px solid #434343; */ 
    padding: 0px 5px 0px 5px;
    min-width: 25px;
}

#clock {
    padding: 0px 5px 0px 5px;
   /* border: 1px solid #434343; */ 
    min-width:  140px;
    border-radius: 7px;
}

#tray {
    margin: 0px 5px 0px 0px;
    padding: 0px 5px 0px 5px;
    border-radius: 7px;
   /* border: 1px solid #434343; */ 

}

#window {
    margin-left: 25px;
    padding-left: 5px;
    padding-right: 5px;

}